@model IEnumerable<CMEG.Web.Data.Entities.Equipo>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<br />

<p>
    <a asp-action="Create" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i></a>
</p>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Centro Asistencial</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-striped" id="MyTable">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Nombre)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Etiqueta)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Serie)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Licitacion)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Garantia)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TipoGarantia)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FechaInstalacion)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FechaCulminacion)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Otms)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Logo)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Etiqueta)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Serie)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Licitacion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Garantia)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TipoGarantia)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FechaInstalacion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FechaCulminacion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Otms)
                            </td>
                            <td>
                                @if (!string.IsNullOrEmpty(item.Logo))
                                {
                                    <img src="@Url.Content(item.Logo)" alt="Image" style="width:100px;height:100px;max-width:100%;height:auto;" />
                                }
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning"><i class="glyphicon glyphicon-pencil"></i></a>
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info"><i class="glyphicon glyphicon-align-justify"></i></a>
                                <button data-id="@item.Id" class="btn btn-danger deleteItem" data-toggle="modal" data-target="#deleteDialog">
                                    <i class="glyphicon glyphicon-trash"></i>
                                </button>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<partial name="_DeleteDialog" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable').DataTable();

            var item_to_delete;

            $('.deleteItem').click((e) => {
                item_to_delete = e.currentTarget.dataset.id;
            });

            $("#btnYesDelete").click(function () {
                window.location.href = '/Equipos/Delete/' + item_to_delete;
            });
        });
    </script>
}